extends layout

block content
  .inner
    h2 About Chase
    p Chase believes in a world where everyone has access to the information they need, in which simpler times meet modern conveniences, and where form is just as important as function.
    p Originally from Madisonville, KY, Chase is currently pursuing two BA degrees from Northern Kentucky University, and is following his passion of making functional things beautiful by studying art through web design alongside science through information technology. While in school, Chase furthered his professional career through employment in various fields, including web design, career counseling, and the internet-of-things.
    p Currently employed as a contractor with Complete Marketing Resources, Inc. in Madisonville, KY, Chase hopes to pursue web development and help transform perception of the internet. He hopes one day to help individuals realize their ability to use the internet as a tool for improving their lives through technology. This drive is a large contributor to the My Life in Data project, as Chase hopefully continues the project and eventually lets other people use their data for better lives as well. 
    p If you can’t find Chase behind his computer keeping up with the newest developments in technology, you’ll probably find him outside on his family’s farm, practicing martial arts, or trying to climb a tree he hasn’t scaled before.
    p
      em "Computing is not about computers any more. It is about living." 
    | -Nicholas Negroponte  
