extends layout

block content
  img(src="/images/static/home_hero.png" alt="Code is an artform banner")
  .inner
    h1(style="clear:both;") Chase Miller Web Development
    .floatingImgContainer
      img.card(src="/images/static/portrait.jpg" class="floatingImg" alt="A portrait of Chase")
    p Welcome to my portfolio! This entire website was custom built using Express and Node.js and is the platform from which I am hosting my Northern Kentucky University capstone project: My Life in Data. Feel free to browse around and learn more about some of the things I'm currently working on. 
    p On the 'My Work' page, I give a brief overview of my capstone project and show a couple of examples of work I've done in the past. If you'd still like to know more about My Life in Data, feel free to head over to the contact page and reach out to me through social media or shoot me an email.
    
    p(style="font-size: 1.5em; font-weight: bold;") About this website:
    p This site is being custom hosted on a Linode server running a Ubuntu Linux distribution. It follows the MVC software development model as a result of the need to tie into My Life in Data and is running entirely on the back of a Node.js / Express.js Server that I used to teach myself these technologies. The site also has direct access to a MongoDB database which is how I am pulling location data in the 'My Work' section.
    
