extends layout

block content
  .inner
    p(style="font-size: 1.3em; font-weight:bold;") EDUCATION:
    p Northern Kentucky University, Highland Heights, KY 
    ul
      li Bachelor of Science in Computer Information Technology
      li Bachelor of Arts in Media Informatics   
      li Minors: Computer Science, Honors;  GPA: 3.6/4.0;  Graduating May 2019


    p(style="font-size: 1.3em; font-weight:bold;") RELEVANT EXPERIENCE:
    p IT Programmer Complete Marketing Resources, Inc. Madisonville, KY
    ul 
      li Assist development of specialty internet applications
      li Design and maintain websites for 100+ clients in Joomla!
      li Maintain and manage server and database space, including DNS record management
    p Web Developer Nexigen Communications, LLC, Newport, KY
    ul
      li Designed and created web-pages for a sub-company: Cyber Armour in Wordpress
      li Implemented animation marketing using Adobe Illustrator and After Effects 
      li Developed 3D wayfinding model for largest convention center in Las Vegas
    p Node.js Server Architecture and Data Collection / Visualization Capstone
    ul
      li Self-lead cumulative project spanning final year of college
      li Researched and developed a functioning web-server on Node.js and MongoDB
      li Collected and interpreted / visualized data about my life using D3.js
      li Enhanced Project Management skills via targeted time-management

    p(style="font-size: 1.3em; font-weight:bold;") ACTIVITIES AND HONORS:
    ul
      li Governor’s Scholar Tuition Scholarship recipient 
      li Progressed through a rigorous selection process in competition with thousands of students
      li Spent a summer prior to college exploring philosophy and creative writing with high-achieving students in the State of Kentucky
        
    p(style="font-size: 1.3em; font-weight:bold;") LANGUAGES AND PROFICIENCIES:
    table.table
      tr
        td Front-End Web Development
        td Proficient
      tr
        td Java Development
        td Proficient
      tr
        td Data Structures and Algorithms 
        td Proficient
      tr
        td Back-End Web Development
        td Comfortable
      tr
        td Linux OS
        td Comfortable
      tr
        td Ruby
        td Familiar
      tr
        td Database (SQL)
        td Familiar
